.container {
  width: 100%;
}

.btnExpand {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.4rem 0 var(--box-shadow-color);
  cursor: pointer;

  .title {
    letter-spacing: 0.07rem;

    &--fullWidth {
      width: 100%;
    }
  }

  &:hover {
    background: var(--user-posts-link-bg-color);
  }

  .arrowDown {
    color: var(--user-collapse-arrow-down-color);
  }
  .arrowUp {
    color: var(--user-collapse-arrow-up-color);
  }
}
