@import "../../../global.scss";


.container {
  width: 100%;
}

.toggleSection {
  @include flex-layout( $justify: space-between, $align: center);
  padding: 0.7rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.4rem 0 var(--box-shadow-color);
  cursor: pointer;

  &--expanded {
    background: var(--link-bg-color-user-posts);
  }
  &--closed {
    background: unset;
  }

  .title {
    letter-spacing: 0.07rem;
  }

  &:hover {
    background: var(--link-bg-color-user-posts);
  }

  .arrowDown {
    color: var(--icon-color-collapse-arrow-down);
  }
  .arrowUp {
    color: var(--icon-color-collapse-arrow-up);
  }
}
