@import "../../../global.scss";

.navigation {
  @include flex-layout($gap: 1rem, $justify: center, $align: center);
  padding: 1rem;
  .prevBtn,
  .nextBtn {
    width: 5rem;
    height: 2rem;
    color: var(--btn-default-color);
    background: var(--button-bg-pagination);

    &:hover {
      font-size: 1.1rem;
      color: var(--text-color-default-white);
      box-shadow: 0 0 0.4rem 0 var(--box-shadow-color);
    }
  }
}
