.tableNavigation {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 0.8rem;

  .paginationBtn {
    padding: 0.4rem;
    width: 5rem;
    opacity: 0.8;
    border: none;
    border-radius: 0.3rem;
    color: var(--default-white-color);
    background: var(--btn-pagination-bg-color);

    &:hover {
      opacity: 1;
      background: var(--btn-pagination-bg-hover-color);
      box-shadow: 0 0 0.4rem 0 var(--box-shadow-color);
    }
  }
}
