.navigation {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  margin-top: 0.8rem;

  .prevBtn, .nextBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    width: 5rem;
    height: 2rem;
    border-radius: 0.3rem;
    color: var(--btn-default-color);
    background: var(--btn-confirmation-popup-bg-color);

    &:hover {
      font-size: 1.1rem;
      color: var(--default-white-color);
      box-shadow: 0 0 0.4rem 0 var(--box-shadow-color);
    }
  }
}
