@import "../../../global.scss";

.postList {
  @include flex-layout($gap: 1rem, $direction: column);
  padding: 0.7rem;
  width: 24rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem -0.2rem var(--box-shadow-color);

  &--removeBorder {
    border: none;
  }

  .createPostForm {
    margin: 0.5rem auto;

    .postInput,
    .contentArea {
      color: var(--text-color-default-brown);
      transition: ease-in-out 0.1s;
      height: 2.2rem;
      &:focus {
        color: var(--text-color-default-white);
        border: solid 0.1rem var(--outline-color);
        background: var(--input-bg-focus);
      }
    }

    .contentArea {
      box-sizing: content-box;
      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-bg);
    }

    .labelText {
      text-align: left;
    }

    .btnAddPost {
      margin: 0.4rem auto 0 auto;
      padding: 0.5rem;
      width: 6rem;
      height: 2rem;
      color: var(--text-color-button-default);
      background: var(--link-bg-color-user-posts);

      &:hover {
        color: var(--text-color-default-white);
        background: var(--button-bg-hover-default);
      }
    }
  }

  .postSection {
    @include flex-layout($gap: 1rem, $align: flex-start);

    .btnDelete {
      @include flex-layout($justify: center, $align: center);
      margin-top: 0.4rem;
      padding: 0.3rem 0.5rem;
      width: 5rem;
      height: 2.5rem;
      color: var(--text-color-default-white);
      background: var(--button-bg-delete);

      &:hover {
        background: var(--button-bg-delete-hover);
      }
    }
  }
}

.confirmDialog {
  padding: 1.5rem 0;
  color: var(--text-color-button-default);
  background: var(--button-bg-confirmation-popup);
  background: var(--popup-bg-color-content);

  button {
    @include flex-layout($justify: center, $align: center);
    margin: 0.3rem;
    padding: 0.5rem;
    width: 5rem;
    height: 2rem;
    border-radius: 0.3rem;
    color: var(--text-color-button-default);
    background: var(--button-bg-confirmation-popup);

    &:hover {
      font-size: 1.1rem;
      color: var(--text-color-default-white);
      box-shadow: 0 0 0.4rem 0 var(--box-shadow-color);
    }
  }
}
