@import "../../../global.scss";

.postList {
  @include flex-layout($gap: 1rem, $direction: column);
  padding: 0.7rem;
  width: 24rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem -0.2rem var(--box-shadow-color);

  &--removeBorder {
    border: none;
  }

  .postSection {
    @include flex-layout($gap: 1rem, $align: flex-start);

    .btnDelete {
      @include flex-layout($justify: center, $align: center);
      margin-top: 0.4rem;
      padding: 0.3rem 0.5rem;
      width: 5rem;
      height: 2.5rem;
      color: var(--text-color-default-white);
      background: var(--button-bg-delete);

      &:hover {
        background: var(--button-bg-delete-hover);
      }
    }
  }
}
