.form {
  margin: 0.5rem 0.8rem 0.8rem 0.8rem;
  height: 20rem;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-bg-color);

  .title {
    padding: 0 0.4rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0.8rem;
    border: solid var(--user-border-color);
    border-radius: 0.5rem;

    .buttonContainer {
      padding-top: 0.5rem;
      display: flex;
      justify-content: space-between;
    }
  }
}
