@import "../../../global.scss";

.tooltipError {
  @include flex-layout($justify: center, $align: center);
  grid-area: 1 / 1;
  transform: translateY(calc(100% + 0.2rem));
  width: 100%;
  height: 2rem;
  color: var(--text-color-default-white);
  background: var(--error-bg-color);
  font-family: "Helvetica Neue-Roman", "sans-serif";
  font-size: 0.9rem;
}

.errorIcon {
  grid-area: 1 / 1;
  justify-self: end;
  margin-right: 0.4rem;
  width: 1.3rem;
  height: 100%;
  fill: var(--icon-color-error);
}
