@import "../../../global.scss";

.table {
  @include flex-layout( $direction: column);
  overflow: hidden;
  min-width: 40rem;
  width: 50rem;
  height: calc(100vh - 12.5rem);
  box-shadow: inset 0 0 0.1rem 0.1rem var(--border-color-default);
  border-radius: 0 0 0.5rem 0.5rem;
  font-size: 0.9rem;

  .userId {
    text-align: left;
    padding-left: 0.3rem;
  }
  .title {
    text-align: center;
    width: 50rem;
    overflow: hidden;
  }
  .status {
    width: 3.2rem;
    text-align: right;
    padding-right: 2.2rem;
  }
  .actions {
    width: 5.2rem;
    text-align: right;
    padding-right: 2.5rem;
  }

  .tableHead {
    display: table;
    padding: 0.3rem;
    background: var(--button-bg-pagination);
    box-shadow: 0 0.1rem 0.3rem 0 var(--box-shadow-color);
    z-index: 1;
  }

  .tableBody {
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-bg);
    border: solid transparent;
    .row {
      &:hover {
        background: var(--button-bg-pagination);
      }
      td {
        padding: 0 0.5rem;
      }
    }

    .btnChangeTaskStatus {
      margin: 0.2rem 0.5rem;
      padding: 0.4rem;
      width: 5rem;
      color: var(--text-color-button-default);
      background: var(--button-bg-pagination);
      border-radius: 0.3rem;

      &:hover {
        color: var(--text-color-default-white);
        background: var(--button-bg-pagination-hover);
        box-shadow: 0 0 0.4rem 0 var(--box-shadow-color);
      }
    }
  }
}

.noFilterMatchContainer {
  @include flex-layout( $justify: center, $align: center);
  height: calc(100vh - 15rem);
  pointer-events: none;

  .noFilterMatchMessage {
    font-size: 1.1rem;
    color: var(--text-color-placeholder);
  }
}
