@import "../../../global.scss";

.table {
  @include flex-layout($direction: column);
  overflow: hidden;
  padding: 0.1rem;
  min-width: 20rem;
  max-width: 50rem;
  height: calc(100vh - 13.5rem);
  box-shadow: inset 0 0 0.1rem 0.1rem var(--border-color-default);
  border-radius: 0 0 0.5rem 0.5rem;
  font-size: 0.9rem;

  .userId {
    text-align: left;
    padding-left: 0.3rem;
  }

  .title {
    text-align: center;
    width: 50rem;
    overflow: hidden;
  }

  .status {
    width: 3.2rem;
    text-align: right;
    padding-right: 2.2rem;
  }

  .actions {
    width: 5.2rem;
    text-align: right;
    padding-right: 2.5rem;
  }

  .tableHead {
    display: table;
    padding: 0.3rem;
    background: var(--button-bg-pagination);
    box-shadow: 0 0.1rem 0.3rem 0 var(--box-shadow-color);
    z-index: 1;
  }

  .tableBody {
    border-radius: inherit;

    .row {
      &:hover {
        background: var(--button-bg-pagination);
      }

      td {
        padding: 0 0.5rem;
      }

      .btnChangeTaskStatus {
        margin: 0.2rem 0;
        height: 2.7rem;
        width: 5rem;
        color: var(--text-color-button-default);
        background: var(--button-bg-pagination);

        &:hover {
          color: var(--text-color-default-white);
          background: var(--button-bg-pagination-hover);
          box-shadow: 0 0 0.2rem 0 var(--box-shadow-color);
        }
      }
    }
  }
}

.noFilterMatchContainer {
  @include flex-layout($justify: center, $align: center);
  height: calc(100vh - 15rem);

  .noFilterMatchMessage {
    font-size: 1.1rem;
    color: var(--text-color-placeholder);
  }
}
