.container {
  display: flex;
}

  .filtersForm {
    margin: 0;
    width: 100%;

    fieldset {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      border: solid var(--filters-border-color);
      border-bottom: none;
      border-radius: 2rem 2rem 0 0;
      background: var(--filters-bg-color);

      .filter {
        height: 2rem;
        border-radius: 0.3rem;
        color: var(--default-white-color);
        background: var(--btn-pagination-bg-color);

        &:focus-within {
          background: var(--filters-focus-bg-color);
        } 

        &::placeholder {
          color: var(--placeholder-text-color);
        }
        &:hover {
          background: var(--btn-default-bg-hover-color);
        }
      }
    }
  }
