@import "../../../global.scss";

.container {
  @include flex-layout($justify: center);
  width: 100%;

  .filtersForm {
    margin: 0;
    width: 100%;

    fieldset {
      @include flex-layout($direction: row, $gap: 1rem, $justify: center, $align: center);
      border: solid var(--filters-border-color);
      border-bottom: none;
      border-radius: 2rem 2rem 0 0;
      padding-bottom: 1rem;
      background: var(--filters-bg-color);

      .filter {
        height: 2rem;
        border-radius: 0.3rem;
        color: var(--default-white-color);
        background: var(--btn-pagination-bg-color);

        &:focus-within {
          background: var(--filters-focus-bg-color);
        } 

        &::placeholder {
          color: var(--placeholder-text-color);
        }
        &:hover {
          background: var(--btn-default-bg-hover-color);
        }
      }
    }
  }

}