@import "../../../global.scss";

.container {
  @include flex-layout($justify: center);
  width: 100%;

  .filtersForm {
    margin: 0;
    width: 100%;

    fieldset {
      @include flex-layout($direction: row, $gap: 1rem, $justify: center, $align: center);
      border: solid var(--filter-border-color);
      border-bottom: none;
      border-radius: 2rem 2rem 0 0;
      padding-bottom: 1rem;
      background: var(--filter-bg-color);

      .filter {
        min-width: 7rem;
        height: 2rem;
        border-radius: 0.3rem;
        color: var(--text-color-default-white);
        background: var(--button-bg-pagination);

        &:focus {
          background: var(--filter-bg-color-focus);
        } 

        &::placeholder {
          color: var(--text-color-placeholder);
        }

        &:hover {
          background: var(--button-bg-hover-default);
        }
      }
    }
  }

}