@import "../../../global.scss";

.user {
  min-width: 18rem;
  width: 23rem;
  border: none;
  
  &--showBorder {
    border: solid var(--list-container-border-color);
    border-radius: 0.5rem;
  }
  

.labelText {
  text-align: left;
}

.btnContainerNav {
  @include flex-layout($justify: space-between);
  padding: 0.5rem 1rem 0 1rem;

  &--positionCenter {
    @include flex-layout($justify: center);
  }
}

  .btnContainerForm {
    @include flex-layout($justify: space-between, $align: center);
    margin-top: 0.5rem;
  }

  .revertChanges,
  .submitChanges,
  .userNavnBtn
   {
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--btn-default-color);
    background: var(--user-posts-link-bg-color);
    border-radius: 0.3rem;
    border: none;
  

    &:hover {
      color: var(--default-white-color);
      background: var(--btn-default-bg-hover-color);
    }
  }
}
