@import "../../../global.scss";

.user {
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;

  &--adjustUser {
    width: 24rem;
    padding: 0 0.8rem;
    border: solid var(--border-color-list-container);
    border-radius: 0.5rem;

    .userForm {
      fieldset {
        gap: 0.8rem;
      }
    }
  }
  
.userForm {
  margin: 0 auto;

  .userInput {
    color: var(--text-color-default-brown);
    transition: ease-in-out 0.1s;
    height: 2.2rem;
    &:focus {
      color: var(--text-color-default-white);
      border: solid 0.1rem var(--outline-color);
      background: var(--input-bg-focus);
    }
  }
  .userLabel {
    text-align: left;
  }
}

.btnContainerNav {
  @include flex-layout($justify: space-between);
  padding: 1rem  0.2rem 0.5em 0.2rem;
  &--positionCenter {
    @include flex-layout($justify: center);
  }
}

  .btnContainerForm {
    @include flex-layout($justify: space-between, $align: center);
    margin-top: 0.5rem;
  }

  .revertChanges,
  .submitChanges,
  .userNavnBtn
   {
    padding: 0.5rem;
    color: var(--text-color-button-default);
    background: var(--link-bg-color-user-posts);
    border-radius: 0.3rem;
    border: none;
    letter-spacing: 0.05rem;
    
    &:hover {
      color: var(--text-color-default-white);
      background: var(--button-bg-hover-default);
    }
  }

  .revertChanges,
  .submitChanges {
    &:not(:disabled) {
      animation: highlightText 0.4s linear;
    }
  }
}
