.verticalScrollBar {
  height: calc(100vh - 6.4rem);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-bg-color);
}

.post {
  text-align: center;
  min-width: 18rem;
  border: solid var(--user-border-color);
  border-radius: 0.5rem;

  textarea {
    border-radius: 0.5rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-bg-color);
  }
  .btnPostsContainer {
    button {
      margin: 1rem 0 0.4rem 0;
      padding: 0.5rem;
      text-decoration: none;
      border: none;
      border-radius: 0.3rem;
      color: var(--user-posts-link-color);
      background: var(--user-posts-link-bg-color);

      &:hover {
        opacity: 1;
        box-shadow: 0 0 0.4rem 0 var(--box-shadow-color);
      }

      &:hover {
        background: var(--user-posts-link-bg-hover-color);
      }
    }
  }

  .revertChanges,
  .submitChanges {
    padding: 0.5rem;
    color: var(--user-posts-link-color);
    background: var(--user-posts-link-bg-color);
    border-radius: 0.3rem;
    border: none;
    opacity: 0.8;

    &:hover {
      opacity: 1;
      background: var(--user-posts-link-bg-hover-color);
    }

    &:disabled {
      pointer-events: none;
      color: var(--user-form-disabled-btn-color);
      background: var(--user-form-disabled-btn-bg-color);
    }
  }

  .labelText {
    text-align: left;
  }
}
