.post {
  text-align: center;
  margin-top: 0.9rem;
  min-width: 18rem;
  border: solid var(--default-app-border-color);
  border-radius: 0.5rem;

  .postForm {
    fieldset {
      padding: 0;
      border: none;
    }
    .labelText {
        text-align: left;
    }
    
    .contentArea {
      scrollbar-width: thin;
      scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-bg-color);
    }
  }

  .btnContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;

    .revertChanges,
    .submitChanges {
      padding: 0.5rem;
      color: var(--btn-default-color);
      background: var(--user-posts-link-bg-color);
      border-radius: 0.3rem;
        
      &:hover {
        color: var(--default-white-color);
        background: var(--btn-default-bg-hover-color);
      }
    }
  }
}
