.post {
  text-align: center;
  min-width: 18rem;
  border: solid var(--user-border-color);
  border-radius: 0.5rem;

  .postForm {
    fieldset {
      border: none;
    }
    .labelText {
        text-align: left;
    }
  }

  .contentArea {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-bg-color);
  }

  .btnContainer {
    display: flex;
    padding-top: 0.5rem;
    gap: 0.6em;

    .revertChanges,
    .submitChanges {
      padding: 0.5rem;
      color: var(--user-posts-link-color);
      background: var(--user-posts-link-bg-color);
      border-radius: 0.3rem;
      opacity: 0.8;
  
      &:hover {
        opacity: 1;
        background: var(--user-posts-link-bg-hover-color);
      }
    }
  }
}
