@import "../../../global.scss";

.nav {
  @include flex-layout($justify: center, $align: center);
  margin-bottom: 0.5rem;
  padding: 1.2rem 0;
  box-shadow: 0 0 10.5rem -1.2rem var(--box-shadow-color);

  .navList {
    @include flex-layout($gap: 2rem);
  }
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color-default-white);
}

.nav a:global(.active) {
  color: var(--nav-link-color);
}

a.ctaLink:link,
a.ctaLink:visited {
  padding: 0.2rem 2rem;
  border-radius: 0.5rem;
  color: var(--text-color-default-white);
}