:root {
  --border-color-list-container: #ffffff;
  --border-color-default: #969393;
  
  --text-color-default-white: #ffffff;
  --text-color-default-brown: #444;
  --text-color-placeholder: rgba(255, 255, 255, 0.4);
  --text-color-button-default: rgba(255, 255, 255, 0.649);
  --text-color-button-disabled: rgba(246, 243, 243, 0.459);

  --button-bg-delete: rgb(199, 6, 6);
  --button-bg-delete-hover: red;
  --button-bg-pagination: rgb(59, 59, 59);
  --button-bg-pagination-hover: rgb(82, 81, 81);
  --button-bg-confirmation-popup: #414040;
  --button-bg-disabled: rgba(128, 128, 128, 0.129);
  --button-bg-hover-default: rgb(97, 95, 95);

  --link-color-user-posts: #ffffff;
  --link-bg-color-user-posts: #414040dc;

  --icon-color-collapse-arrow-down: red;
  --icon-color-collapse-arrow-up: green;

  --box-shadow-color: #ffffff;

  --scrollbar-color-thumb: rgb(134, 133, 133);
  --scrollbar-color-bg: rgb(82, 81, 81);

  --popup-bg-color: #0c0c0cc9;
  --popup-bg-color-content: #0c0c0c9f;

  --filter-border-color: #555555;
  --filter-bg-color: #1d1b1b;
  --filter-bg-color-focus: #22413f;
  --input-bg-focus: rgb(59, 59, 59);
  
  --outline-color: #0392f8;

  --loader-color: cyan;
}

@keyframes highlightText {
  50% {
    color: var(--text-color-default-white);
    text-shadow:  0.1rem 0.1rem 0.6rem var(--text-color-default-white);
  }
}

@mixin flex-layout($direction: row, $gap: 0, $justify: unset, $align: unset) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

body {
  margin: 0 auto;
  padding: 0;
  place-items: center;
  text-align: center;
  min-width: 320px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #242424;
}

main {
  width: 100%;
  height: calc(100vh - 6rem);
}


form {
  margin: 0.5rem 0.8rem 0.8rem 0.8rem;

  fieldset {
    @include flex-layout($direction: column, $gap: 0.4rem );
    padding: 0.8rem;
    border: solid var(--border-color-default);
    border-radius: 0.5rem;
  }

  legend {
    padding: 0 0.4rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
  }
}


button,
select {
  cursor: pointer;
  border: none;
}

li {
  list-style: none;
 }

button:disabled {
    pointer-events: none;
    color: var(--text-color-button-disabled)!important;
}



input,
textarea {
  box-sizing: border-box;
  padding: 0.5rem;
  outline: none;
  border: none;
  resize: none;
}

button, select, input, textarea {
  border-radius: 0.3rem;
  outline-style: none;
  transition: ease-in-out 0.2s;
}


