:root {
  --app-bg-color: #242424;
  --app-text-color: rgba(255, 255, 255, 0.87);

  --border-color-list-container: #ffffff;
  --border-color-default: #969393;
  --border-color-input-error: red;

  --text-color-default-white: #ffffff;
  --text-color-default-brown: #444;
  --text-color-placeholder: rgba(255, 255, 255, 0.4);
  --text-color-button-default: rgba(255, 255, 255, 0.649);
  --text-color-button-disabled: rgba(246, 243, 243, 0.459);

  --button-bg-black: #1e1d1d;
  --button-bg-delete: rgb(157, 6, 6);
  --button-bg-delete-hover: rgba(255, 0, 0, 0.9);
  --button-bg-pagination: rgb(59, 59, 59);
  --button-bg-pagination-hover: rgb(82, 81, 81);
  --button-bg-confirmation-popup: #414040;
  --button-bg-disabled: rgba(128, 128, 128, 0.129);
  --button-bg-hover-default: rgb(97, 95, 95);

  --link-color-user-posts: #ffffff;
  --link-bg-color-user-posts: #414040dc;
  --nav-link-color: rgba(0, 255, 255, 0.696);

  --icon-color-collapse-arrow-down: red;
  --icon-color-collapse-arrow-up: green;

  --box-shadow-color: #ffffff;
  --box-shadow-color-accordion: #ffffff42;

  --scrollbar-color-thumb: rgb(134, 133, 133);
  --scrollbar-color-bg: rgb(82, 81, 81);

  --popup-bg-color: #0c0c0cc9;
  --popup-bg-color-content: #0c0c0c9f;

  --filter-border-color: #555555;
  --filter-bg-color: #1d1b1b;
  --filter-bg-color-focus: #22413f;
  --input-bg-focus: rgb(59, 59, 59);

  --outline-color: #0392f8;

  --loader-color: cyan;

  --error-bg-color: rgb(105, 2, 2);
  --error-bg-color-onBlur: rgb(246, 195, 195);

  --scrollbar-thumb-color: rgba(0, 255, 255, 0.508);
}

@keyframes highlightText {
  50% {
    color: var(--text-color-default-white);
    text-shadow: 0.1rem 0.1rem 2rem var(--text-color-default-white);
  }
}

@mixin flex-layout($direction: row, $gap: 0, $justify: unset, $align: unset) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin glass-hover-effect($transition-time: 0.4s, $hover-time: 0.7s, $skew-angle: -30deg, $start-color: rgba(255, 255, 255, 0), $mid-color: rgba(255, 255, 255, 0.197), $end-color: rgba(255, 255, 255, 0)) {
  overflow: hidden;
  position: relative;
  transition: background $transition-time ease-in-out;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -140%;
    transition: all $transition-time ease-in-out;
    transform: skewX($skew-angle);
    width: 200%;
    height: 100%;
    background: linear-gradient(120deg, $start-color 30%, $mid-color 50%, $end-color 70%);
  }

  &:hover::before {
    left: 100%;
    transition: all $hover-time ease-in-out;
  }
}



@font-face {
  font-family: 'Helvetica Neue-Medium';
  src: url('/fonts/HelveticaNeue-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Helvetica Neue-Roman';
  src: url('/fonts/HelveticaNeue-Roman.woff2') format('woff2');
}


* {
  outline-style: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  place-items: center;
  text-align: center;
  min-width: 320px;
  overflow: hidden;

  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2rem;

  color-scheme: light dark;
  color: var(--app-text-color);
  background: var(--app-bg-color);
}

main {
  width: 100%;
  height: calc(100vh - 6rem);
}

form {
  margin: 0.5rem 0.8rem 0.8rem 0.8rem;

  fieldset {
    @include flex-layout($direction: column, $gap: 0.4rem);
    padding: 0.8rem;
    border: solid var(--border-color-default);
    border-radius: 0.5rem;
  }

  legend {
    padding: 0 0.4rem;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 600;
  }
}

button,
select {
  cursor: pointer;
  border: none;
}

li {
  list-style: none;
}

button:disabled {
  pointer-events: none;
  color: var(--text-color-button-disabled) !important;
}

input,
textarea {
  box-sizing: border-box;
  padding: 0.5rem;
  outline: none;
  border: none;
  resize: none;
}

button,
select,
input,
textarea {
  border-radius: 0.3rem;
  outline-style: none;
  transition: ease-in-out 0.2s;
}