:root {
  --list-container-border-color: #ffff;
  --default-app-border-color: #969393;
  --user-collapse-arrow-down-color: red;
  --user-collapse-arrow-up-color: green;
  --user-posts-link-color: #ffff;
  --user-posts-link-bg-color: #414040dc;
  --box-shadow-color: #ffff;
  --default-white-color: #ffff;
  --btn-delete-post-bg-color: rgb(199, 6, 6);
  --btn-delete-post-bg-hover-color: red;
  --btn-pagination-bg-color: rgb(59, 59, 59);
  --btn-pagination-bg-hover-color: rgb(82, 81, 81);
  --scrollbar-thumb-color: rgb(134, 133, 133);
  --scrollbar-bg-color: rgb(82, 81, 81);
  --btn-confirmation-popup-bg-color: #414040;
  --confirmation-popup-bg-color: #0c0c0cc9;
  --confirmation-popup-content-bg-color: #0c0c0c9f;
  --filters-border-color: #555;
  --filters-bg-color: #1d1b1b;
  --filters-focus-bg-color: rgba(0, 255, 255, 0.16);
  --loader-color: cyan;
  --btn-default-bg-hover-color:rgb(97, 95, 95);
  --placeholder-text-color:  rgba(255, 255, 255, 0.4);
  --btn-default-color: rgba(255, 255, 255, 0.6);
  --btn-disabled-color: rgba(246, 243, 243, 0.459);
  --btn-disabled-bg-color: rgba(128, 128, 128, 0.129);
}

body {
  margin: 0 auto;
  padding: 0;
  place-items: center;
  text-align: center;
  min-width: 320px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #242424;
}

main {
  width: 100%;
  height: calc(100vh - 6rem);
}


form {
  margin: 0.5rem 0.8rem 0.8rem 0.8rem;

  fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 0.8rem;
    border: solid var(--default-app-border-color);
    border-radius: 0.5rem;
  }

  legend {
    padding: 0 0.4rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;
  }
}


button,
select {
  cursor: pointer;
  border: none;
}

li {
  list-style: none;
 }

button:disabled {
    pointer-events: none;
    color: var(--btn-disabled-color)!important;
    background: var(--btn-disabled-bg-color)!important;
}



input,
textarea {
  box-sizing: border-box;
  padding: 0.5rem;
  outline: none;
  border: none;
  resize: none;
}

button, select, input, textarea {
  border-radius: 0.3rem;
  outline-style: none;
  transition: ease-in-out 0.2s;
}
