@import "../../../global.scss";

.userList {
  @include flex-layout($direction: column, $gap: 0.9rem);
  padding: 0.7rem;
  width: 24rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem -0.2rem var(--box-shadow-color);
}
