@import "../../../global.scss";

.userList {
  @include flex-layout($direction: column, $gap: 1rem);
  box-sizing: content-box;
  padding: 0.7rem;
  width: 24rem;
  overflow-y: auto;
  overflow-x: hidden;
  border: solid var(--border-color-list-container);
  border-radius: 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color-thumb) var(--scrollbar-color-bg);
}
